@charset "utf-8";

html {
    scroll-behavior: smooth;
}
body{
    font-size: 32px;
    font-family:'Courier New', Courier, monospace, 'Zen Kaku Gothic New', sans-serif;
    color:firebrick;
    background-color: rgb(42, 61, 61);
    margin: 0;
}
a {
    text-decoration: none;
    color: rgb(206, 127, 228);
}
header{
    font-weight: 700;
    width: 100%;
    height: 80px;
    z-index: 1;
}
footer {
    width: 100%;
    text-align: center;
    padding: 50px 0;
    margin-top: 40px;
    letter-spacing: 1px;
    background-color:#c5c5c5;
}
iframe{
    width: 100%;
    height: auto;
    position: absolute;
    
}


.section0{
    margin-top: 32vh;
    padding-top: 100px;
}



.section1{
    margin-bottom: 66vh;
    & > img{
        width: 100%;
        height: auto;
        max-height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(2.5em);
        filter: brightness(60%);
    }
    & > .container{
        margin: 0 auto;
        margin-top: 3em;
        padding-top: 15vh;
        z-index: 2;
        position: relative;
        & > img{
            width: 831px;
            height: auto;
            max-width: 60%;
            padding-left: 17em;
            margin: 0 auto;
            position: absolute;
            z-index: 2;
        }
        & > .heading{
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 40px;
            color: #2cb67d;
        }
        & > h1{
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 40px;
        }
        & > .text{
            font-size: 24px;
            margin-bottom: 40px;
        }
        & > a{
            font-size: 16px;
            font-weight: 700;
            padding: 16px 40px 16px 40px;
            display: inline-block;
            background-color: #7f5af0;
            border-radius: 6px;
            letter-spacing: 2px;
            transition-duration: .4s;
        }
        & > a:hover{
            background-color: rgb(90,131,219);
        }
    }
}

.section2{
    margin-bottom: 45px;
    & > .container{
      max-width: 1680px;
      width: 90%;
      margin: 0 auto;
      margin-top: 80px;
      margin-right: auto;
      margin-left: auto;
      & > .row{
        display: grid;
        grid-template: auto / repeat(auto-fit, minmax(16px, 240px));
        justify-content: center;
        max-width: 1580px;
        margin: 0 auto;
        gap: 10px;
        margin-top: 80px;
        padding: 36px 24px;
        border-radius: 32px;
        & > .col{
          padding: 4px;
          background-color: #f1e1e4;
          border-radius: 15px;
          display: block;
          text-align: center;
          padding-top:20px;
          padding-bottom:16px;
          & > hr{
            border: solid 3px rgb(255,69,131);
            margin-bottom: 16px;
            width: 146px;
            margin: 0 auto;
          }
          & > h2{
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 16px;
          }
          & > p{
            margin-top: 20px;
          }
          & > img:not(.smalllogo){
            width: 160px;
            height: auto;
            padding: 10px;
            border: 9px;
            margin-bottom: 16px;
          }
          & > .icon-img{
            display: block;
            margin: 0 auto;
            max-width: 400px;
            height: auto;
          }
          & > .icon-img{
            border-radius: 50%;
            transform: scale(1);
            transition: 0.3s ease-in-out;
          }
          & > .icon-img:hover {
            transform: scale(1.3);
            border-radius: 24px;
          }
          & > video{
            width: 160px;
            height: auto;
            padding: 10px;
            border: 9px;
            margin-bottom: 16px;
          }
          & > .text{
            font-size: px;
            line-height: 1.5;
          }
        }
      }
    }
}


.section3{
    padding-top: 45px;
    margin-bottom: 60px;
    font-size:24px;
    & > .container{
        max-width: 1280px;
        width: 90%;
        margin: 0 auto;
        & > .row{
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            align-items: center;
            margin-bottom: 60px;
            & > .col{
                width: 44%;
            }
        }
    }
}

.section3 img{
    width: auto;
    height: 800px;
    max-height:40vh;
}
.section3 h2{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 18px;
    line-height: 1.3;
}
.section3 hr{
    border: solid 2px #2cb67d;
    margin-bottom: 20px;
    width: 240px;
}
.section3 .text{
    line-height: 1.5;
    padding: 0px 30px;
}
.section4{
    padding-top: 60px;
    margin-bottom: 60px;
}
.section4 .container{
    max-width:1280px;
    width: 90%;
    margin: 0 auto;
}
.section4 h2{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.section4 hr{
    border: solid 2px #2cb67d;
    margin: 0 auto 40px;
    width: 180px;
}
.section4 ul{
    list-style: none;
    max-width: 700px;
    margin: 0 auto;
}
.section4 li{
    border: solid 1px #851111;
    margin-bottom: 20px;
    padding: 16px 24px;
    background-color:rgb(255, 239, 219);
}
.section4 .date{
    color: #7f5af5;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 6px;
}
.section5{
    padding-top: 60px;
    margin-bottom: 130px;
}
.section5 .container{
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}
.section5 h2{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.section5 hr{
    
    border: solid 2px #2cb67d;
    margin: 0 auto 40px;
    width: 120px;
}
.section5 form{
    max-width: 540px;
    margin: 0 auto;
}
.section5 label{
    display: block;
    margin-bottom: 16px;
    font-weight: 500;
}
.section5 input, .section5 textarea{
    background-color: #fff;
    display: block;
    width: 100%;
    padding: 13px 16px;
    margin-bottom: 30px;
    color: #16161a
}
.section5 input[type=submit]{
    background-color: #7f5af0;
    color: #fff;
    text-align: center;
    font-weight: 700;
    padding: 20px 16px 22px;
    letter-spacing: 6px;
    border-radius: 12px;
    transition-duration: 0.4s;
}
.section5 input[type=submit]:hover {
    background-color: #2cb67d;
}

@media screen and (max-width: 767px){
    .section1{
        font-size: 27px;
        & > .filter{
            width: 100%;
            height: 45vh;
            background-color: #000000;
            opacity: .3;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            transform: translateY(2.5em);
        }
        & > .container{
            width: 90%;
            max-width: 767px;
            max-height:45vh;
            margin: 0 auto;
            margin-top: 3em;
            padding-top: 2vh;
            text-align: center;
            z-index: 3;
            position: relative;
            & > .heading{
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 40px;
                color: #2cb67d;
            }
            & > h1{
                font-size: 48px;
                font-weight: 700;
                margin-bottom: 40px;
            }
            & > .text{
                font-size: 24px;
                margin-bottom: 40px;
            }
            & > a{
                font-size: 16px;
                font-weight: 700;
                padding: 16px 40px 16px 40px;
                display: inline-block;
                background-color: #7f5af0;
                border-radius: 6px;
                letter-spacing: 2px;
                transition-duration: .4s;
            }
            & > a:hover{
                background-color: rgb(90,131,219);
            }
    }
    .section2 .col{
        min-width: 260px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .section3 .col{
        width: 100%;
        margin-bottom: 30px;
    }
    .section4{
        width:100%;
        display: flex;
        margin: 0 auto;
        & > .container{
            text-align: center;
            margin: 0 auto;
        }
        & > ul{
            transform: translateX(-20px);
        }
    }
    .section5 {
        width: 96%;
        display: flex;
        margin: 0 auto;
    }
    .section5 input, .section5 textarea{
        background-color: #fff;
        display: block;
        width: 80%;
        padding: 13px 16px;
        margin:0 auto;
        margin-bottom: 30px;
        color: #16161a;
    }
    }
    .section2{
        margin-bottom: 45px;
        & > .container{
            max-width: 1080px;
            width: 90%;
            margin: 0 auto;
            & > .row{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                transform: translateY(-48px);
                z-index: 2;
                position: relative;
                & > .col{
                    background-color: #ffffff;
                    width: 27%;
                    color:firebrick;
                    padding: 20px;
                    padding-bottom: 5px;
                    border-radius: 32px;
                    margin-top: 38px;
                    & > img{
                        width: 120px;
                        padding: 10px;
                        display: flex;
                        margin: 0 auto;
                        margin-bottom: 16px;
                    }
                    & > h2{
                        font-size: 32px;
                        font-weight: 700;
                        text-align: center;
                        margin-bottom:16px;
                    }
                    & > hr{
                        border: solid 4px greenyellow;
                        margin-bottom: 16px;
                        width: 96px;
                    }
                    & > .text{
                        font-size: px;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .section1{
        font-size: 27px;
        & > .filter{
            width: 100%;
            height: 52.5vh;
            background-color: #000000;
            opacity: .3;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            transform: translateY(2.5em);
            & > img{
                width: 100%;
                height: auto;
                max-height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
                transform: translateY(2.5em);
            }
            & > .container{
                width: 90%;
                max-width: 1080px;
                margin: 0 auto;
                margin-top: 3em;
                padding-top: 0vh;
                text-align: center;
                z-index: 3;
                position: relative;
                & > .heading{
                    font-size: 16px;
                    font-weight: 700;
                    margin-bottom: 40px;
                    color: #2cb67d;
                }
                & > h1{
                    font-size: 48px;
                    font-weight: 700;
                    margin-bottom: 40px;
                }
                & > .text{
                    font-size: 24px;
                    margin-bottom: 40px;
                }
                & > a{
                    font-size: 16px;
                    font-weight: 700;
                    padding: 16px 40px 16px 40px;
                    display: inline-block;
                    background-color: #7f5af0;
                    border-radius: 6px;
                    letter-spacing: 2px;
                    transition-duration: .4s;
                }
                & > a:hover{
                    background-color: rgb(90,131,219);
                }
            }
        }
    }
}



#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 14px;
    line-height: 1;
    z-index: 99;
  }
  #page-top a {
    background: #ab101b;
    text-decoration: none;
    color: #fff;
    width: 60px;
    padding: 28px 5px;
    text-align: center;
    display: block;
    border-radius: 90px;
    opacity: 0.9;
    transition: all .3s ease;
  }
  #page-top a:hover {
    text-decoration: none;
    opacity: .5;
  }