.slider-3 {
    width: 95%;
    max-width: 100%;
    max-height: 120vh;
    height: 120vh;
    margin: auto;
    overflow: hidden; /* スライド内で画像がはみ出さないように */
}

.swiper {
    max-height: 1680px;
    overflow: hidden; /* スライドがはみ出ないように */
}

/* スライド画像の基本スタイル */
.swiper-slide img {
    display: block;
    margin: auto;
    aspect-ratio: 9/19.5;
    max-height: 120%;
    max-width: 90vw;
    width: 70%;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.6s ease 0.4s;
    opacity: 0.8;
    box-shadow: 7px 7px 15px -5px #666;
}

/* アクティブなスライド */
.swiper-slide-active img {
    transform: scale(1.2);
    opacity: 1;
    transform-origin: center center; /* スケーリングの基準を中央に */
}

/* ナビゲーションボタン */
.swiper-button-next, .swiper-button-prev {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}

/* 矢印アイコンのスタイル */
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 18px;
    color: #333;
}

/* ドットナビゲーション */
.swiper-pagination {
    text-align: center;
}

.swiper-pagination-bullet {
    background: #bcbcbc;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 6px;
}

.swiper-pagination-bullet-active {
    background: #0a467d;
}
