@charset "utf-8";
html {
    scroll-behavior: smooth;
}
body{
    font-size: 32px;
    font-family:'Courier New', Courier, monospace, 'Zen Kaku Gothic New', sans-serif;
    color:firebrick;
    background-color: rgb(174, 214, 214);
    margin: 0;
}
a {
    text-decoration: none;
    color: rgb(139, 67, 255);
}
.blank{
    margin: 100px;
}

.swiper {
    width: 800px;
    height: 320px;
    max-width: 100%;
}
.swiper img{
    max-width: 800px;
    max-height:500px;
    width: 800px;
    height: auto;
}
.swiper1 .swiper-slide img:hover{
    cursor: pointer;    
}
.swiper1 img{
    height: 40vh;
    width: auto;
    transform: translateX(20vw);
}

@media screen and (max-width: 767px){
}

@media screen and (max-width: 1200px){
}
